{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sauna</title>
    <link rel="icon" type="image/png" href="../static/sauna/sauna_color.png" class="">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div>
        <header class="absolute inset-x-0 top-0 sticky z-50 bg-gray-900">
            <nav class="flex items-center justify-between px-3" aria-label="Global">
                <div class="flex lg:flex-1">
                    <a href="#">
                        <span class="sr-only">Mers Barenai Sauna</span>
                        <img class="h-24 w-auto" src="/static/sauna/sauna_color.png" alt="">
                    </a>
                </div>
                <div class="lg:flex lg:flex-1 lg:justify-end">
                    <a href="#"
                        class="text-sm/6 font-light text-white border border-white py-3 px-6 hover:bg-gray-800 hover:text-white">ご予約は090-3130-9184</a>
                </div>
            </nav>
        </header>
        <section style="background-image: url('/static/sauna/sauna_room.jpg')" ; style="background-size: cover;"
            style="background-position: center;" style="height: 100vh;"
            class="relative bg-cover bg-center bg-no-repeat isolate px-6 py-14 lg:px-8 lg:py-32">
            <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
                aria-hidden="true">
                <div class="absolute md:relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
                    style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
                </div>
            </div>
            <div class="mx-auto max-w-2xl py-32 sm:py-32 lg:py-56 px-8">
                <div class="text-center">
                    <h1 class="mb-16 text-5xl tracking-tight leading-tight text-white font-medium">
                        秘密基地で心と体を再起動
                    </h1>
                </div>
            </div>
            <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
                aria-hidden="true">
                <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
                    style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
                </div>
            </div>
        </section>
        <section class="relative isolate px-6 md:px-16 py-16 lg:px-8 bg-gray-900 text-white">
            <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
                aria-hidden="true">
            </div>
            <div class="mx-auto max-w-2xl">
                <div class="text-start">
                    <h1 class="text-center mb-8 text-4xl tracking-tight font-extralight leading-tight">
                        Mers バレナイサウナ
                    </h1>
                    <p class="mb-4 font-normal leading-10">
                        街の喧噪から少し離れた場所にある、隠れ家のようなサウナ</p>
                    <p class="mb-4 font-normal leading-10">
                        まるで自分だけの秘密基地にいるかのような感覚で、日々の疲れを癒しましょう</p>
                    <p class="mb-4 font-normal leading-10">
                        温かな蒸気とともに、心も体もリセット</p>
                    <p class="mb-4 font-normal leading-10">
                        まるで自分だけの隠れた場所で、深いリラックスと再生を体験できます</p>
                    <p class="mb-4 font-normal leading-10">
                        サウナが初めての方にも安心して楽しんでいただけるように、心地よい空間を提供します</p>
                    <p class="mb-4 font-normal leading-10">
                        秘密基地で新しい自分に出会ってみませんか？</p>
                </div>
            </div>
        </section>
        <section class="relative bg-cover bg-center bg-no-repeat isolate px-6 py-14 lg:px-8 lg:py-32"
            style="background-image: url('/static/sauna/sauna_room2.jpg')" ; style="background-size: cover;"
            style="background-position: center;" style="height: 100vh;">
            <div class="absolute inset-x-0 -top-3 -z-10 transform-gpu overflow-hidden px-36 blur-3xl"
                aria-hidden="true">
                <div class="mx-auto aspect-1155/678 w-[72.1875rem] bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30"
                    style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
                </div>
            </div>
            <div class="mx-auto my-16 max-w-md items-center sm:mt-20 lg:max-w-xl text-center">
                <div class="relative rounded-3xl bg-white/50 backdrop-blur-none p-8 shadow-2xl sm:p-10">
                    <h3 id="tier-enterprise"
                        class="mb-8 text-4xl tracking-tight font-extralight leading-tight text-gray-900">PRICE LIST</h3>
                    <ul role="list" class="mt-8 space-y-3 text-md/6 text-gray-700 sm:mt-10 list-disc">
                        <li class="flex gap-x-3 text-md">
                            サウナ：１名様 1800円/60分(２名様～)
                        </li>
                        <li class="flex gap-x-3">
                            ＢＢＱ施設利用：１名様 700円/60分
                        </li>
                        <li class="flex gap-x-3">
                            家族利用：３～５名様 3000円/60分
                        </li>
                        <li class="flex gap-x-3">
                            １日貸切：１名様 2500円/4時間(４名様～)
                        </li>
                        <li class="flex gap-x-3">
                            半日貸切：１名様 3000円/4時間(４名様～)
                        </li>
                        <li class="flex gap-x-3">
                            延長：1名様 500円/15分
                        </li>
                        <li class="flex gap-x-3">
                            平日割引： 1800円→1500円/60分
                        </li>
                        <li class="flex gap-x-3">
                            ※5歳以下のお子様はサウナのご利用はできません。
                        </li>
                        <li class="flex gap-x-3">
                            ※12歳以下のお子様は保護者同行でご利用いただけます。
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="relative isolate px-6 md:px-16 py-16 lg:px-8 bg-gray-900 text-white">
            <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
                aria-hidden="true">
            </div>
            <div class="mx-auto max-w-2xl">
                <div class="text-start">
                    <h1 class="text-center mb-8 text-4xl tracking-tight font-extralight leading-tight">
                        FACILITY
                    </h1>
                    <p class="mb-4 font-normal leading-10">
                        静けさ漂う広々としたバレルサウナ室(85-90℃)</p>
                    <p class="mb-4 font-normal leading-10">
                        温度調節チラー付き水風呂(デフォルト19℃)
                    </p>
                    <p class="mb-4 font-normal leading-10">
                        シャワールーム(滝シャワー)
                    </p>
                    <p class="mb-4 font-normal leading-10">
                        LPガス大型BBQグリル(鍋、フライパン、五徳完備)
                    </p>
                    <p class="mb-4 font-normal leading-10">
                        パウダールーム兼更衣スペース
                    </p>
                    <p class="mb-4 font-normal leading-10">
                        サウナ室内プロジェクター</p>
                    </p>
                    <p class="mb-6 font-normal leading-10">
                        冷蔵庫、喫煙所</p>
                    <p
                        class="max-w-2xl mb-6 font-normal text-gray-900 lg:mb-8 md:text-sm lg:text-md dark:text-gray-900">
                        <a href="#"
                            class="text-sm/6 font-light text-white border border-white py-3 px-6 hover:bg-gray-800 hover:text-white">
                            必ずご確認ください
                        </a>
                    </p>
                </div>
            </div>
        </section>
        <section class="relative bg-cover bg-center bg-no-repeat isolate px-6 py-14 lg:px-8 lg:py-32"
            style="background-image: url('/static/sauna/sauna_room4.jpg')" ; style="background-size: cover;"
            style="background-position: center;" style="height: 100vh;">
            <div class="absolute inset-x-0 -top-3 -z-10 transform-gpu overflow-hidden px-36 blur-3xl"
                aria-hidden="true">
                <div class="mx-auto aspect-1155/678 w-[72.1875rem] bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30"
                    style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
                </div>
            </div>
            <div class="mx-auto my-16 max-w-md items-center sm:mt-20 lg:max-w-xl text-center">
                <div class="relative rounded-3xl bg-white/50 backdrop-blur-none p-8 shadow-2xl sm:p-10">
                    <h3 id="tier-enterprise"
                        class="mb-8 text-4xl tracking-tight font-extralight leading-tight text-gray-900">OPENING HOURS
                    </h3>
                    <h5 id="tier-enterprise"
                        class="mb-8 text-xl tracking-tight font-extralight leading-tight text-gray-900">年中無休　09:00 -
                        17:00
                    </h5>
                    <h5 id="tier-enterprise"
                        class="mb-8 text-xl tracking-tight font-extralight leading-tight text-gray-900">※その他時間外要相談
                    </h5>
                </div>
            </div>
        </section>
        <section class="bg-gray-900 text-white">
            <div
                class="gap-8 items-center py-8 px-2 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
                <img class="w-full dark:block" src="/static/sauna/sauna_location.jpg" alt="dashboard image">
                <div class="mt-4 md:mt-0 px-6">
                    <h3 class="mb-8 text-4xl tracking-tight font-extralight leading-tight">ACCESS</h3>
                    <h2 class="max-w-2xl mb-8 text-xl font-extralight tracking-tight leading-none">
                        〒982-0251
                    </h2>
                    <h2 class="max-w-2xl mb-8 text-xl font-extralight tracking-tight leading-none">
                        宮城県仙台市太白区茂庭字主生前13-1
                    </h2>
                    <p class="max-w-2xl mb-6 font-light lg:mb-8 md:text-sm lg:text-md">
                        東北自動車道「皆の三助」より車で5分
                    </p>
                    <p class="max-w-2xl mb-6 font-light lg:mb-8 md:text-sm lg:text-md">
                        駐車場がございます。
                    </p>
                    <p
                        class="max-w-2xl mb-6 font-normal text-gray-900 lg:mb-8 md:text-sm lg:text-md dark:text-gray-900">
                        <a href="#"
                            class="text-sm/6 font-light text-white border border-white py-3 px-6 hover:bg-gray-800 hover:text-white">
                            ご予約は090-3130-9184
                        </a>
                    </p>
                </div>
            </div>
        </section>
        <footer class="bg-gray-900 shadow-sm">
            <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
                <div class="sm:flex sm:items-center sm:justify-between">
                    <a href="#" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                        <img src="/static/sauna/sauna_color.png" class="h-12 pb-0
                        " alt="Sauna Logo" />
                        <span
                            class="self-center text-xl font-semibold whitespace-nowrap text-white hover:text-gray-200">Mers
                            バレナイサウナ</span>
                    </a>
                    <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-white sm:mb-0">
                        <li>
                            <a href="#" class="hover:underline me-4"><svg xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24" fill="currentColor" class="size-5 hover:text-gray-400 mx-2">
                                    <path fill-rule="evenodd"
                                        d="M21.53 9.53a.75.75 0 0 1-1.06 0l-4.72-4.72V15a6.75 6.75 0 0 1-13.5 0v-3a.75.75 0 0 1 1.5 0v3a5.25 5.25 0 1 0 10.5 0V4.81L9.53 9.53a.75.75 0 0 1-1.06-1.06l6-6a.75.75 0 0 1 1.06 0l6 6a.75.75 0 0 1 0 1.06Z"
                                        clip-rule="evenodd" />
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/mr.mers__sauna?igsh=MWdrYnkydGxydTI2aA%3D%3D&utm_source=qr"
                                class="hover:underline me-4"><svg xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512" fill="currentColor" class="mx-2 size-5 hover:text-gray-400">
                                    <path
                                        d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" />
                                </svg></a>
                        </li>
                        <li>
                            <a href="#" class="hover:underline me-4"><svg xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 512 512" fill="currentColor" class="mx-2 size-5 hover:text-gray-400">
                                    <path
                                        d="M64 112c-8.8 0-16 7.2-16 16l0 22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1l0-22.1c0-8.8-7.2-16-16-16L64 112zM48 212.2L48 384c0 8.8 7.2 16 16 16l384 0c8.8 0 16-7.2 16-16l0-171.8L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64l384 0c35.3 0 64 28.7 64 64l0 256c0 35.3-28.7 64-64 64L64 448c-35.3 0-64-28.7-64-64L0 128z" />
                                </svg></a>
                        </li>
                    </ul>
                </div>
                <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
                <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© {{ year }} <a href="#"
                        class="hover:underline">株式会社エスケン</a>. All Rights Reserved.</span>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>

</html>