{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sauna</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="bg-white">
        <header class="absolute inset-x-0 top-0 sticky z-50 bg-gray-600">
            <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
                <div class="flex lg:flex-1">
                    <a href="#" class="-m-1.5 p-1.5">
                        <span class="sr-only">Your Company</span>
                        <img class="h-8 w-auto"
                            src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600" alt="">
                    </a>
                </div>
                <div class="lg:flex lg:flex-1 lg:justify-end">
                    <a href="#"
                        class="text-sm/6 font-light text-white border border-white py-3 px-6 hover:bg-white hover:text-gray-800">ご予約はこちら</a>
                </div>
            </nav>
        </header>
        <div class="relative isolate px-6 pt-14 lg:px-8">
            <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
                aria-hidden="true">
                <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
                    style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
                </div>
            </div>
            <div class="mx-auto max-w-2xl py-32 sm:py- lg:py-56" style="background-image: url('{% static " sauna/"
                %}');" alt="sauna image">
                <div class="text-center">
                    <h1 class="mb-16 text-5xl tracking-tight font-extralight leading-tight text-gray-900">最高に贅沢な空間
                    </h1>
                </div>
            </div>
            <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
                aria-hidden="true">
                <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
                    style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
                </div>
            </div>
        </div>
        <div class="relative isolate px-6 pt-14 lg:px-8">
            <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
                aria-hidden="true">
            </div>
            <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
                <div class="text-start">
                    <h1 class="text-center mb-8 text-4xl tracking-tight font-extralight leading-tight text-gray-900">
                        Barenai Sauna
                    </h1>
                    <p class="mb-4 font-normal text-gray-500 sm:px-16 leading-10 dark:text-gray-400">
                        あなたが、あなたらしくいられる。そんな空間をつくりました。</p>
                    <p class="mb-4 font-normal text-gray-500 sm:px-16 leading-10 dark:text-gray-400">
                        個室内は周りの音が気にならない、防音空間。</p>
                    <p class="mb-4 font-normal text-gray-500 sm:px-16 leading-10 dark:text-gray-400">
                        自然の流れを感じる、光と風。</p>
                    <p class="mb-4 font-normal text-gray-500 sm:px-16 leading-10 dark:text-gray-400">
                        笑ったり、泣いたり、自由に、気ままに。</p>
                    <p class="mb-4 font-normal text-gray-500 sm:px-16 leading-10 dark:text-gray-400">
                        あなただけの「ととのう時間」をお過ごしください。</p>
                </div>
            </div>
        </div>
        <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
            <div class="mx-auto place-self-center lg:col-span-6">
                <h1 class="mb-8 text-4xl tracking-tight font-extralight leading-tight text-gray-900">
                    施設案内</h1>
                <h2 class="max-w-2xl mb-8 text-xl font-extralight tracking-tight leading-none">
                    静けさ漂う広々としたラウンジ
                    フィンランド式サウナ
                </h2>
                <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-sm lg:text-md dark:text-gray-400">
                    サウナをご予約されたお客様のみが利用可能なラウンジ。
                </p>
                <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-sm lg:text-md dark:text-gray-400">
                    ドリンクを飲みながら、ゆっくりとお過ごしください。
                </p>
                <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-sm lg:text-md dark:text-gray-400">
                    90℃前後に設定されたサウナ室は湿度が高めの
                </p>
                <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-sm lg:text-md dark:text-gray-400">
                    セルフロウリュもお愉しみいただけます。
                </p>
                <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-sm lg:text-md dark:text-gray-400">
                    個室内は防音空間となっており好きな音楽をかけることも。
                </p>
                <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-sm lg:text-md dark:text-gray-400">
                    光と風を感じながら、極上の内気浴をご体感ください。
                </p>
            </div>
            <div class="hidden lg:mt-0 lg:col-span-6 lg:flex">
                <img class="w-1/2 mx-auto" src="{% static 'sauna/light.jpg' %}" />
            </div>
        </div>
        <div
            class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
            <img class="w-full dark:hidden"
                src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/cta/cta-dashboard-mockup.svg"
                alt="dashboard image">
            <img class="w-full hidden dark:block"
                src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/cta/cta-dashboard-mockup-dark.svg"
                alt="dashboard image">
            <div class="mt-4 md:mt-0">
                <h2 class="mb-4 text-3xl tracking-tight font-extralight text-gray-900">サウナ利用料金</h2>
                <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">
                    60分
                    1名利用
                    ¥3,600
                </p>
                <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">
                    80分
                    1名利用
                    ¥4,500
                </p>
                <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">
                    95分
                    1名利用
                    ¥5,200
                </p>
                <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">
                    95分
                    2名利用 (同性のみ)
                    ¥6,500
                </p>
            </div>
        </div>
        <div
            class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
            <img class="w-full dark:hidden"
                src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/cta/cta-dashboard-mockup.svg"
                alt="dashboard image">
            <img class="w-full hidden dark:block"
                src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/cta/cta-dashboard-mockup-dark.svg"
                alt="dashboard image">
            <div class="mt-4 md:mt-0">
                <h2 class="mb-4 text-3xl tracking-tight font-extralight text-gray-900">BBQ施設利用料金</h2>
                <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">
                    60分
                    1名利用
                    ¥3,600
                </p>
                <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">
                    80分
                    1名利用
                    ¥4,500
                </p>
                <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">
                    95分
                    1名利用
                    ¥5,200
                </p>
                <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">
                    95分
                    2名利用 (同性のみ)
                    ¥6,500
                </p>
            </div>
        </div>
        <div
            class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
            <img class="w-full dark:hidden"
                src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/cta/cta-dashboard-mockup.svg"
                alt="dashboard image">
            <img class="w-full hidden dark:block"
                src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/cta/cta-dashboard-mockup-dark.svg"
                alt="dashboard image">
            <div class="mt-4 md:mt-0">
                <h2 class="mb-4 text-3xl tracking-tight font-extralight text-gray-900">その他利用料金</h2>
                <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">
                    60分
                    1名利用
                    ¥3,600
                </p>
                <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">
                    80分
                    1名利用
                    ¥4,500
                </p>
                <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">
                    95分
                    1名利用
                    ¥5,200
                </p>
                <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">
                    95分
                    2名利用 (同性のみ)
                    ¥6,500
                </p>
            </div>
        </div>
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6 lg:py-48 lg:pb-32">
            <div class="mx-auto max-w-screen-sm text-center">
                <h2 class="mb-16 text-4xl tracking-tight font-extralight leading-tight text-gray-900">
                    OPENING HOURS</h2>
                <hr class="mb-8 mx-36 border border-gray-300">
                <p class="mb-6 font-light text-gray-600 md:text-lg">　月　　13:00 - 24:00</p>
                <p class="mb-6 font-light text-gray-600 md:text-lg">火～金　09:00 - 24:00</p>
                <p class="mb-6 font-light text-gray-600 md:text-lg">土日祝　07:45 - 24:00</p>
                <hr class="mt-8 mx-36 border border-gray-300">
            </div>
        </div>
        <div class="grid max-w-screen-xl px-4 pb-8 mx-auto lg:gap-8 xl:gap-0 lg:grid-cols-12">
            <div class="hidden lg:mt-0 lg:col-span-6 lg:flex">
            </div>
            <div class="mr-auto place-self-center lg:col-span-6">
                <h1 class="mb-8 text-4xl tracking-tight font-extralight leading-tight text-gray-900">
                    ACCESS</h1>
                <h2 class="max-w-2xl mb-8 text-xl font-extralight tracking-tight leading-none">
                    〒０００－００００
                    宮城県宮城郡宮城町宮城３－８－２
                </h2>
                <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-sm lg:text-md dark:text-gray-400">
                    JR総武線「船橋駅」南口より徒歩5分
                </p>
                <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-sm lg:text-md dark:text-gray-400">
                    京成本線「京成船橋駅」より徒歩1分
                </p>
                <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-sm lg:text-md dark:text-gray-400">
                    駐車場がございます。
                </p>
            </div>
        </div>
        <footer class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
            <div class="md:flex md:justify-between">
                <div class="mb-6 md:mb-0">
                    <a href="https://flowbite.com/" class="flex items-center">
                        <img src="https://flowbite.com/docs/images/logo.svg" class="h-8 me-3"
                            alt="Barenai Sauna Logo" />
                        <span class="self-center text-2xl font-semibold whitespace-nowrap">Barenai
                            Sauna</span>
                    </a>
                </div>
                <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                    <div>
                        <ul class="text-gray-500 font-medium">
                            <li class="mb-4">
                                <a href="https://flowbite.com/" class="hover:underline">Top</a>
                            </li>
                        </ul>
                    </div>
                    <div>

                        <ul class="text-gray-500 font-medium">
                            <li class="mb-4">
                                <a href="https://github.com/themesberg/flowbite" class="hover:underline">About</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul class="text-gray-500 font-medium">
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
            <div class="sm:flex sm:items-center sm:justify-between">
                <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© {{ year }} <a
                        href="https://flowbite.com/" class="hover:underline">株式会社エスケン</a>. All Rights Reserved.
                </span>
                <div class="flex mt-4 sm:justify-center sm:mt-0">
                    <a href="#" class="text-gray-500 hover:text-gray-900">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 8 19">
                            <path fill-rule="evenodd"
                                d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z"
                                clip-rule="evenodd" />
                        </svg>
                        <span class="sr-only">Facebook page</span>
                    </a>
                    <a href="#" class="text-gray-500 hover:text-gray-900">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 8 19">
                            <path fill-rule="evenodd"
                                d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z"
                                clip-rule="evenodd" />
                        </svg>
                        <span class="sr-only">Instagram page</span>
                    </a>
                    <a href="#" class="text-gray-500 hover:text-gray-900 ms-5">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 20 17">
                            <path fill-rule="evenodd"
                                d="M20 1.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.344 8.344 0 0 1-2.605.98A4.13 4.13 0 0 0 13.85 0a4.068 4.068 0 0 0-4.1 4.038 4 4 0 0 0 .105.919A11.705 11.705 0 0 1 1.4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 4.1 9.635a4.19 4.19 0 0 1-1.856.07 4.108 4.108 0 0 0 3.831 2.807A8.36 8.36 0 0 1 0 14.184 11.732 11.732 0 0 0 6.291 16 11.502 11.502 0 0 0 17.964 4.5c0-.177 0-.35-.012-.523A8.143 8.143 0 0 0 20 1.892Z"
                                clip-rule="evenodd" />
                        </svg>
                        <span class="sr-only">Twitter page</span>
                    </a>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>

</html>